/* reszponzivitás */
@media only screen and (max-width: 400px) {
	.keret{
        height: 600px;
    }

    .szavak1, .szavak3 {
        width: 120px!important;
        font-size: 30px!important;
    }

    .szöveg, .example-dropzone{
        width: 70px!important;
        height: 40px!important;
        font-size: 20px!important;
    }

    .gyak{
        width: 140px!important;
        height: 30px!important;
        font-size: 20px!important;
    }

    .gyakorlo_feladat{
        height: 210px!important;
        width: 250px!important;
        font-size: 14px!important;
        margin-left: 2%!important;
    }

}

.keret{
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B86B14;
    /* background-color: #EBA63F; */
    display: flex;  
    flex-direction: column; 
    flex-wrap: wrap;
    border-radius: 15px;
}

.also{
    background-color: #B86B14;
    /* background-color: #438945; */
    border-radius: 0 0 15px 15px;
}

.felso{
    background-color: #B86B14;
    /* background-color: #3CBCC3; */
    margin-top: 15px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    padding-top: 10px;
}

.kozepso{
    display: flex;
    flex-direction: column;
    background-color: #B86B14;
    /* background-color: #3CBCC3; */
    min-height: 190px;

}

.mondat{
    width: 75%;
    margin-top: 30px;
    background-color: #B2B2B2;
    background-color: #F7F4E9; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.megoldas{
    background-color: #B2B2B2;
   /*  background-color: #EBA63F; */
    width: 150px;
    height: 30px;
    border: solid 1px;
    text-align: center;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.helyesvalasz{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.szavak{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

}


.felso, .kozepso, .also{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}


.szavak1, .szavak2, .szavak3, .szavak4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 80px;
    font-size: 40px;
    background-color: #F7F4E9;
    cursor: pointer;
    text-align: center;
}


.gombok{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#indit, #ellenoriz {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

#ujra {
    background-color:  #f55858;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

#indit {
    background-color: #FB8604;
}


#ellenoriz{
    background-color: #073b19;
    color: white;
}

#kep{
    max-height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;

}

.gyakorlo_feladat{
    background-color: #D4E0F7;
    float: left;
    width: 60%;
    height: 210px;
    margin-left: 20%;
    text-align: center;
}

.vegeredmeny{
    text-align: center;
}

.progress-bar{
    margin-bottom: 2px;
    width: 100%;
    background-color: #073b19;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #342009;
    color: white;
    margin-bottom: 15px;
    width: 80%;
        margin-left: auto;
        margin-right: auto;
  }

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
      }
    
      .myChart{
        width:100%;
        max-width:300px;
        color: white;
        margin-left: auto;
        margin-right: auto;
      }


      .dropzone{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 10px;
      }
    
      .megold {
        display: flex;
        flex-direction: row;
        
      }
      
      .szöveg{
        font-size: 30px;
        text-align: center;
        background-color: #FB8604;
        border: 2px solid #342009;
        height: 70px;
        width: 100px;
      }
      
      .szöveg p{
        margin: 0;
        text-align: center;
        padding: 13px 0 0 0; 
      }

      .example-dropzone {
        font-size: 38px;
        color: #D4E0F7;
        text-align: center;
        background-color: #342009;
        border: 2px solid #FB8604;
        height: 70px;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
      }